<div class="mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ten Khoa Hoc</th>
        <th scope="col">Trinh Do</th>
        <th scope="col">Thoi gian Tao</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              href="/courses/{{this._id}}/edit"
              type="button"
              class="btn btn-link"
            >Sua</a>
            <a href="" type="button" class="btn btn-link">Xoa</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>